.button {
  top: 0!important;
  right: 0!important;
  background: #000000;
  border-radius: 16px!important;
  height: 100%;
}

.input {
  border-radius: 16px!important;
  background: white;
  padding-left: 20px!important;
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}